---
http_interactions:
- request:
    method: get
    uri: https://private-bfc6a-widergytrainingnorthutilityapi.apiary-mock.com/notas?autor=J.K.Rowling
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 6659fe54097ad8008b72fa63
      Akamai-Grn:
      - 0.a4212ac8.1717173844.128c86f5
    body:
      encoding: UTF-8
      string: "{\n    \"notas\": [\n        {\n            \"id\": 1,\n            \"titulo\":
        \"Opinion personal\",\n            \"tipo\": \"opinion\",\n            \"contenido\":
        \"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum commodo
        nulla at eros sollicitudin, vel feugiat nibh malesuada. Fusce vel ante vel
        dolor convallis ultrices.\",                    \"fecha_creacion\": \"2022-05-20T14:20:55-03:00\",\n
        \           \"autor\": {\n                \"datos_de_contacto\": {\n                    \"email\":
        \"albertogomez@north.com\",\n                    \"telefono\": \"11-2233-4455\"\n
        \               },\n                \"datos_personales\": {\n                    \"nro_documento\":
        \"12345678\",\n                    \"nombre\": \"Alberto\",\n                    \"apellido\":
        \"Gomez\"\n                }\n            },\n            \"libro\":{\n                \"id\":
        1,\n                \"titulo\": \"Harry Potter y la piedra filosofal\",\n
        \               \"fecha_creacion\": \"2022-05-20T14:20:55-03:00\",\n                \"autor\":
        \"J.K.Rowling\",\n                \"genero\": \"fantasia\",\n                \"imagen_url\":
        \"https://some_url.com\",\n                \"editorial\": \"Nice Books\",\n
        \               \"año\": \"1997\"\n            }\n\n        },\n        {\n
        \           \"id\": 2,\n            \"titulo\": \"Reseña\",\n            \"contenido\":
        \"Lorem impsun dolor consectetur bla.\",\n            \"tipo\": \"resenia\",\n
        \           \"fecha_creacion\": \"2022-05-20T14:20:55-03:00\",\n            \"autor\":
        {\n                \"datos_de_contacto\": {\n                    \"email\":
        \"helenamartinez@north.com\[...]
