---
http_interactions:
- request:
    method: get
    uri: https://private-1971b-widergytrainingsouthutilityapi.apiary-mock.com/Notas?Autor=J.K.Rowling
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 6659e0264e38b900a2b323cf
      Akamai-Grn:
      - 0.a4212ac8.1717166117.1202c3a4
    body:
      encoding: UTF-8
      string: |-
        {
            "Notas": [
                {
                    "Id": 1,
                    "TituloNota": "Reseña",
                    "ReseniaNota": true,
                    "FechaCreacionNota": "2022-05-20T14:20:55-03:00",
                    "EmailAutor": "silvanasuarez@north.com",
                    "NombreCompletoAutor": "Suarez Silvana",
                    "TituloLibro": "Harry Potter y la piedra filosofal",
                    "NombreAutorLibro": "J.K.Rowling",
                    "GeneroLibro": "fantasia",
                    "Contenido": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum commodo nulla at eros sollicitudin, vel feugiat nibh malesuada. Fusce vel ante vel dolor convallis ultrices."
                },
                {
                    "Id": 2,
                    "TituloNota": "Reseña",
                    "ReseniaNota": true,
                    "FechaCreacionNota": "2021-03-11T11:23:43-03:00",
                    "EmailAutor": "roquesigal@north.com",
                    "NombreCompletoAutor"[...]
